---
import Footer from "../../components/common/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import type { Circuit } from "../../types/circuit";
import { getCircuitById } from "../../utils/services";
import Header from "../../components/common/Header.astro";

const { circuitId } = Astro.params;

const circuit: Circuit = await getCircuitById({ circuitId });
---

<Layout title="Bienvenido a la página de estadisticas de Formula 1">
  <Header />
  <main>
    <div class="circuit-details">
      <h1>{circuit.gp_name}</h1>
      <h2>Nombre del circuito: {circuit.circuit_name}</h2>
      <h3>Localización: {circuit.location}</h3>
      <h3>País: {circuit.country}</h3>
      <h2>Distancia: {circuit.distance}</h2>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="css">
  main {
    width: 100%;
  }
  .circuit-details {
    width: 100%;
    text-align: center;
  }
</style>
